body {
    font-family: Arial, Helvetica, sans-serif, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background:gray
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  header {
    background-color: #5e5faa;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  a.download-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4a4a55;
    transition: background-color 0.3s ease;
    text-decoration: none;
    color: #fff;
  }
  
  a.download-button:hover {
    background-color: #000000;
  }
  
